<h2>I am in second page</h2> 
<a href="/State/first?name=Sagun&age=22">Go to first page</a>

<form action="/state/second" method="POST">
    <input name="collegeName" type="hidden" value="MBM">
    <input type="submit" value="Submit to second" />

</form>